body{
  background-color: aqua;

}

#clock {
  
    width:300px;
    height:400px;
    border: 3px solid #ccc;
    transform: translateX(35vw);
    background-color:white;
    margin-top:250px;
    width: 350px;
    height: 200px;
    padding: 80px;
     text-align: center;
    font-size: 100px;
    border: 2px solid;
  font-family: sans-serif;
}
